## Pandas
   #### Computer Vision Winter Semester 2021/2022 by Clemens Spielvogel
   
Pandas is a highly-optimized python library for creating, handling and manipulation of tabular data. Pandas makes extensive use of NumPy functionalities.

Installation (Ubuntu)
   * $ pip install pandas

Resources:
   * Documentation: https://pandas.pydata.org/pandas-docs/version/0.25/
   * Tutorial: https://pandas.pydata.org/pandas-docs/stable/getting_started/tutorials.html
   * Cheat sheet: http://datacamp-community-prod.s3.amazonaws.com/dbed353d-2757-4617-8206-8767ab379ab3

### Importing

In [1]:
# Importing pandas library is usually done using the alias pd
import pandas as pd

print(pd.__version__)

1.3.3

### Input / Output

In [3]:
# Reading tabular data from a CSV file
df = pd.read_csv("Data/tabularData.csv", sep=",", header=0)

print(type(df))

df

<class 'pandas.core.frame.DataFrame'>

  Sample-ID  Attribute1  Attribute2  Attribute3  Class
0    ID0001           3       0.123        True      0
1    ID0002           4       0.098       False      0
2    ID0003           2       0.123       False      0
3    ID0004           6       0.111        True      0
4    ID0005           4       0.221       False      0
5    ID0006           3       0.238       False      1
6    ID0007           2       0.324       False      1
7    ID0008           4       0.298        True      1
8    ID0009           3       0.323        True      1
9    ID0010           2       0.411        True      1

In [4]:
import os

# Save table
new_name = "tabularData_saved.csv"
df.to_csv(os.path.join("Data/", new_name), sep=";", index=False)

# Verify saving
print("Data frame saved:", new_name in os.listdir("Data"))

os.remove("Data/" + new_name) # deleting saved copy

Data frame saved: True

In addition to reading and writing CSV files, pandas also supports I/O of other formats such as SQL tables, SQL query results and Excel tables.

### Creating a table
Besides importing a table, there are various ways to create and fill a new data frame object

In [4]:
# Creating a table and iteratively add samples (rows) to the table
df = pd.DataFrame(columns=["ID", "Class"])

print("Empty data frame:", df)

# Create data
sample1 = {"ID": "sample-001", "Class": "A"}
sample2 = {"ID": "sample-002", "Class": "B"}

# Add samples as rows to data frame one by one
df = df.append(sample1, ignore_index=True)
df = df.append(sample2, ignore_index=True)

print("Filled data frame:\n", df)

Empty data frame: Empty DataFrame
Columns: [ID, Class]
Index: []
Filled data frame:
            ID Class
0  sample-001     A
1  sample-002     B

In [5]:
# Filling a data frame in one go
df = pd.DataFrame({"ID":["id1", "id2", "id3"], "Attribute":[1.1, 2.2, 3.3] , "Class":["A", "B", "C"]})

print(df)

    ID  Attribute Class
0  id1        1.1     A
1  id2        2.2     B
2  id3        3.3     C

### Queries

In [10]:
df = pd.read_csv("Data/tabularData.csv", sep=",", header=0)

print(df)

# Get row by index name
df.loc[0]

  Sample-ID  Attribute1  Attribute2  Attribute3  Class
0    ID0001           3       0.123        True      0
1    ID0002           4       0.098       False      0
2    ID0003           2       0.123       False      0
3    ID0004           6       0.111        True      0
4    ID0005           4       0.221       False      0
5    ID0006           3       0.238       False      1
6    ID0007           2       0.324       False      1
7    ID0008           4       0.298        True      1
8    ID0009           3       0.323        True      1
9    ID0010           2       0.411        True      1

Sample-ID     ID0001
Attribute1         3
Attribute2     0.123
Attribute3      True
Class              0
Name: 0, dtype: object

In [7]:
# Get column by column name
df["Class"]

0    0
1    0
2    0
3    0
4    0
5    1
6    1
7    1
8    1
9    1
Name: Class, dtype: int64

In [8]:
# Get row by index name
print(df.loc[5])
print(df.loc[5].values)

Sample-ID     ID0006
Attribute1         3
Attribute2     0.238
Attribute3     False
Class              1
Name: 5, dtype: object
['ID0006' 3 0.238 False 1]

In [9]:
# Get cell value by index and column name
df.loc[5]["Class"]

1

In [10]:
# Get cell value using the .at() method
df.at[5, "Class"]

1

In [11]:
# Get column names
print("df.columns:", df.columns)
print(type(df.columns))

# Can be converted to numpy array
print("\ndf.columns.values:", df.columns.values)
print(type(df.columns.values))

# .. or to a list
print("\ndf.columns.values.tolist():", df.columns.values.tolist())
print(type(df.columns.values.tolist()))

df.columns: Index(['Sample-ID', 'Attribute1', 'Attribute2', 'Attribute3', 'Class'], dtype='object')
<class 'pandas.core.indexes.base.Index'>

df.columns.values: ['Sample-ID' 'Attribute1' 'Attribute2' 'Attribute3' 'Class']
<class 'numpy.ndarray'>

df.columns.values.tolist(): ['Sample-ID', 'Attribute1', 'Attribute2', 'Attribute3', 'Class']
<class 'list'>

In [12]:
# Retrieve subsections of table based on logical operations
df[df["Attribute1"] > 2]

  Sample-ID  Attribute1  Attribute2  Attribute3  Class
0    ID0001           3       0.123        True      0
1    ID0002           4       0.098       False      0
3    ID0004           6       0.111        True      0
4    ID0005           4       0.221       False      0
5    ID0006           3       0.238       False      1
7    ID0008           4       0.298        True      1
8    ID0009           3       0.323        True      1

### Metainfo & Statistics

In [13]:
# Get number of samples (rows)
print("len(df):", len(df))

# Get dimensions of data frame
print("\ndf.shape:", df.shape) # in format (<number of rows>, <number of columns>)

# Get table infos
print("\ndf.info():")
print(df.info())

# Get table content summary
print("\ndf.describe():\n", df.describe())

len(df): 10

df.shape: (10, 5)

df.info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sample-ID   10 non-null     object
 1   Attribute1  10 non-null     int64
 2   Attribute2  10 non-null     float64
 3   Attribute3  10 non-null     bool
 4   Class       10 non-null     int64
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 458.0+ bytes
None

df.describe():
        Attribute1  Attribute2      Class
count   10.000000   10.000000  10.000000
mean     3.300000    0.227000   0.500000
std      1.251666    0.110256   0.527046
min      2.000000    0.098000   0.000000
25%      2.250000    0.123000   0.000000
50%      3.000000    0.229500   0.500000
75%      4.000000    0.316750   1.000000
max      6.000000    0.411000   1.000000

### Manipulation

In [14]:
# Remove a row
df.drop(9, axis="rows") # Returns manipulated table but does not overwrite df

  Sample-ID  Attribute1  Attribute2  Attribute3  Class
0    ID0001           3       0.123        True      0
1    ID0002           4       0.098       False      0
2    ID0003           2       0.123       False      0
3    ID0004           6       0.111        True      0
4    ID0005           4       0.221       False      0
5    ID0006           3       0.238       False      1
6    ID0007           2       0.324       False      1
7    ID0008           4       0.298        True      1
8    ID0009           3       0.323        True      1

In [15]:
# Remove a column
df.drop("Attribute2", axis="columns") # Alternatively, you can use axis="columns" and axis="rows"

  Sample-ID  Attribute1  Attribute3  Class
0    ID0001           3        True      0
1    ID0002           4       False      0
2    ID0003           2       False      0
3    ID0004           6        True      0
4    ID0005           4       False      0
5    ID0006           3       False      1
6    ID0007           2       False      1
7    ID0008           4        True      1
8    ID0009           3        True      1
9    ID0010           2        True      1

In [17]:
# Overwrite a column
df["Attribute1"] = [0] * 10

df

  Sample-ID  Attribute1  Attribute2  Attribute3  Class
0    ID0001           0       0.123        True      0
1    ID0002           0       0.098       False      0
2    ID0003           0       0.123       False      0
3    ID0004           0       0.111        True      0
4    ID0005           0       0.221       False      0
5    ID0006           0       0.238       False      1
6    ID0007           0       0.324       False      1
7    ID0008           0       0.298        True      1
8    ID0009           0       0.323        True      1
9    ID0010           0       0.411        True      1

In [19]:
# Change data type of column
print(df["Class"].dtype)
import numpy as np
df["Class"] = df["Class"].astype(np.uint8)

print(df["Class"].dtype)

int64
uint8

### Additional functionalities

In [23]:
# Setting an index column
df = df.set_index("Sample-ID")

df

   Attribute1  Attribute2  Attribute3
0           0       0.123        True
0           0       0.098       False
0           0       0.123       False
0           0       0.111        True
0           0       0.221       False
0           0       0.238       False
0           0       0.324       False
0           0       0.298        True
0           0       0.323        True
0           0       0.411        True

In [19]:
# Indices are not necessarily unqiue
invalid_df = pd.DataFrame({"Attribute": [0, 1, 2, 3]}, index=[0, 1, 1, 1])

invalid_df

   Attribute
0          0
1          1
1          2
1          3